@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Gilroy';
    src: url(/fonts/GILROY-BLACK.TTF) format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url(/fonts/GILROY-MEDIUM.TTF) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url(/fonts/GILROY-BOLD.TTF) format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url(/fonts/GILROY-EXTRABOLD.TTF) format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {
    background-color: #ffffff;
    font-family: 'Gilroy', sans-serif;
}

a {
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    color: white;
}
img {
    object-fit: cover;
}

p {
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    font-size: 35px;
}

h1 {
    font-family: 'Gilroy', sans-serif;
    font-weight: 800;
    color:white;
}

h2 {
    font-family: 'Gilroy', sans-serif;
    font-weight: 800;
    color:white;
}

h3 {
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    color:white;
}

.members-h2{
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    color: #1f1f1f;
}

.hero-h2 {
    -webkit-background-clip: text;
    background-image: url(https://media3.giphy.com/media/3SJVHlwtGggrS/giphy.gif?cid=ecf05e47fkpc298qd0n9hrk0e75snr1cf2gdl4tspwrfhyzv&ep=v1_gifs_related&rid=giphy.gif&ct=g);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    color: transparent;
    position: relative;
}

.about-h2-upper {
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    color: black;
    font-size: 3.5em;
    line-height: 1.4;
    transform: translate(0);
}

.about-h2-bottom {
    font-family: 'Gilroy', sans-serif;
    font-weight: 800;
    color: black;
    font-size: 3.5em;
    line-height: 1.4;
    transform: translate(0);
}


.arrow-bg{
    background-image: url(/arrows.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-div{
    height: 75vh;
    min-height: 750px;
}


.location-div{
    height: 75vh;
    min-height: 540px;
}

.max-20vh{
    height: calc((20vw * 0.9) - 2.5vw);
    max-height: calc(1621px*(0.18));
    display: flex;
    align-items: center; /* Vertical centering */
    justify-content: center; /* Horizontal centering, if needed */
    margin-top: 2.5vh;
}

.max-30vh{
    height: calc((30vw * 0.9) - 2.5vw);
    max-height: calc(1621px*(0.28));
    justify-content: center;
    display: flex;
    align-items: center; /* Vertical centering */
    justify-content: center; /* Horizontal centering, if needed */
    margin-top: 2.5vh;
}

.max-40vh{
    height: calc((40vw * 0.9) - 2.5vw);
    max-height: calc(1621px*(0.38));
    justify-content: center;
    display: flex;
    align-items: center; /* Vertical centering */
    justify-content: center; /* Horizontal centering, if needed */
    margin-top: 2.5vh;
}

.max-50vh{
    height: calc((50vw * 0.9) - 2.5vw);
    max-height: calc(1621px*(0.48));
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center; /* Vertical centering */
    justify-content: center; /* Horizontal centering, if needed */
    margin-top: 2.5vh;
}

.h-50vh{
    height: 44vw;
}

.max-35vh{
    height: calc((30vw * 0.9) - 2.5vw);
    max-height: calc(1621px*(0.33));
    justify-content: center;
    display: flex;
    align-items: center; /* Vertical centering */
    justify-content: center; /* Horizontal centering, if needed */
    margin-top: 2.5vh;
}

.button-primary {
    background-color: #d4d924;
    border: none;
    padding: 15px 32px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
}

.button-large {
    background-color: #d4d924;
    border: none;
    padding: 20px 40px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
}

