@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Zumme';
    src: url(/fonts/ZuumeBold.ttf) format('truetype');
    font-weight: 800;
    font-style: bold;
}

@font-face {
    font-family: 'Zumme';
    src: url(/fonts/ZuumeBlack.ttf) format('truetype');
    font-weight: 900;
    font-style: bold;
}


body {
    background-color: rgb(240, 240, 240);
    font-family: 'Cabin', sans-serif;
}

a {
    font-family: 'Cabin', sans-serif;
    font-weight: 600;
    color: white;
}
img {
    object-fit: cover;
}

p {
    font-family: 'Cabin', sans-serif;
    font-weight: 500;
    font-size: 40px;
    color: white;
}

h1 {
    font-family: 'Cabin', sans-serif;
    font-weight: 600;
    color:white;
}

h2 {
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    color:white;
}

.scrollable-content {
    position: fixed; /* or absolute, depending on your layout */
    top: 0; /* adjust as needed */
    left: 0; /* adjust as needed */
    height: 100%; /* or any specific height */
    overflow: hidden;
}
.hero-h2 {
    -webkit-background-clip: text;
    background-image: url(https://media3.giphy.com/media/3SJVHlwtGggrS/giphy.gif?cid=ecf05e47fkpc298qd0n9hrk0e75snr1cf2gdl4tspwrfhyzv&ep=v1_gifs_related&rid=giphy.gif&ct=g);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 100%;
    color: transparent;
    position: relative;
}


.max-20vh{
    height: 19vh;
    max-height: 19vh;
    display: flex;
    align-items: center; /* Vertical centering */
    justify-content: center; /* Horizontal centering, if needed */
    margin-top: 2.5vh;
}

.max-30vh{
    height: 29vh;
    max-height: 29vh;
    justify-content: center;
    display: flex;
    align-items: center; /* Vertical centering */
    justify-content: center; /* Horizontal centering, if needed */
    margin-top: 2.5vh;
}

.max-40vh{
    height: 39vh;
    max-height: 39vh;
    justify-content: center;
    display: flex;
    align-items: center; /* Vertical centering */
    justify-content: center; /* Horizontal centering, if needed */
    margin-top: 2.5vh;
}

.max-50vh{
    height: 49vh;
    max-height: 49vh;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center; /* Vertical centering */
    justify-content: center; /* Horizontal centering, if needed */
    margin-top: 2.5vh;
}

.h-50vh{
    height: 49vh;
}

.max-35vh{
    height: 34vh;
    max-height: 34vh;
    justify-content: center;
    display: flex;
    align-items: center; /* Vertical centering */
    justify-content: center; /* Horizontal centering, if needed */
    margin-top: 2.5vh;
}

.button-primary {
    background-color: #d4d924;
    border: none;
    padding: 15px 32px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
}

.button-large {
    background-color: #d4d924;
    border: none;
    padding: 20px 40px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
}

